<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CiccioWeb</display-name>

	<servlet>
		<servlet-name>ShowInit</servlet-name>
		<jsp-file>/jsp/InitParamExample.jsp</jsp-file>
		<init-param>
			<param-name>URL</param-name>
			<param-value>jdbc:oracle:thin:@10.10.10.27:1521:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>ciccio</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>pasticcio</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowInit</servlet-name>
		<url-pattern>*.show</url-pattern>
	</servlet-mapping>
	

</web-app>